<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center">
    <header class="text-center mb-8">
      <h1 class="text-4xl font-bold text-gray-800">Bienvenidos a León</h1>
      <p class="mt-4 text-lg text-gray-600">
        Comparte y descubre lo mejor de nuestra ciudad: comercios, planes, montaña, setas y mucho más.
      </p>
    </header>
    <!-- <button
      (click)="navigateToPosts()"
      class="bg-blue-500 text-white px-6 py-3 rounded-md text-lg hover:bg-blue-600 transition-colors"
    >
      Ver Posts
    </button>
    
  <div class="flex justify-center mt-20">
    <button
      (click)="navigateToUpload()"
      class="px-4 py-2 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-75"
    >
      Escribe tu post
    </button>
  </div> -->
  </div>
  